{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenge.css" %}">
    <link rel="stylesheet" href="{% static "challenges/partials/header.css" %}">
{% endblock  %}

{% block page_title %}{{ month_name|title }} Challenge{% endblock  %}
{% block content %}
    {% include "challenges/partials/header.html" with display_title="challenges" %}
    <h1>{{ month_name|title }} Challenge</h1>
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
    <p class="fallback">There is no challenge for this month yet!</p>
    {% endif %}
{% endblock  %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ month_name|title }} Challenge</h1>
    {% if text is not None %}
        <h2>{{ text }}</h2>
    {% else %}
        <p>There is no challenge for this month yet!</p>
    {% endif %}
</body>
</html> {% endcomment %}