{% extends "base.html" %}

{% block page_title %}Something went wrong{% endblock  %}

{% block content %}
    <h2>Sorry, We could find the page. </h2>
    
    <ul><b>This can happen for several reasons, such as:</b>
        <li>Incorrect URL: There might be a typo in the URL or the link you followed may have been copied incorrectly.</li>
        <li>Page Moved: The page might have been moved to a different location without a proper redirect.</li>
        <li>Page Deleted: The page could have been removed permanently from the website.</li>
        <li>Broken Link: The link you're following may be outdated.</li>
    </ul>
{% endblock  %}